@model List<DMS.DAL.DatabaseContext.Car_Rented>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sn = 0;
}

<h3 style="text-align: center; color: blue;">Customer Details</h3>
<table class="table table-bordered">
    <tr>
        <td>SN</td>
        <td>Customer Name</td>
        <td>Selected Car</td>
        <td>Issued Date</td>
        <td>Return Date</td>
        <td>Total cost</td>
        <td>Action</td>
    </tr>
    @foreach (var data in Model)
    {
<tr>
    <td>@(++sn)</td>
    <td>
        @data.c_name
    </td>
    <td>
        @data.c_choice
    </td>
    <td>
        @data.i_date
    </td>
    <td>
        @data.r_date
    </td>
    <td>@data.t_amount</td>
    <td>@Html.ActionLink("Delete", "Delete", new { id = data.id })</td>
</tr>

    }
</table>